<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container" style="width: 46em; height: initial; margin: auto;">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card-group" style="margin-top: 50px;">
                        <div class="card p-4">
                            <div class="card-body">
                                <form [formGroup]="forgotassword" (ngSubmit)="onSubmit()">
                                    <!-- <img src="assets/img/logo/logo_truonghoc.jpg" width="100" height="100"
                                        alt="Trường học Logo" style="margin: auto; display: block;">
                                    <h1 class="text-align"
                                        style="text-align: center; font-size: 1.3em;font-weight: bold;">Trường phổ thông
                                        cơ sở Tân Mai</h1> -->
                                    <h1 class="text-align" style="text-align: center;font-size: 1em;margin-bottom: 2em;">Quên Mật Khẩu</h1>

                                    <div class="input-group mb-4" style="width: 300px; margin: auto;">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-lock"></i></span>
                                        </div>
                                        <input type="password" id="new-password" placeholder="Mật mới"
                                            formControlName="password" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Mật khẩu không được để trống</div>
                                            <div *ngIf="f.password.errors.minlength">Mật khẩu không được nhỏ hơn 6 ký tự
                                            </div>
                                            <!-- <div *ngIf="f.password.errors.password">Mật khẩu không đúng</div> -->
                                        </div>
                                    </div>

                                    <div class="input-group mb-4" style="width: 300px; margin: auto;">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-lock"></i></span>
                                        </div>
                                        <input type="password" id="return-password" placeholder="Nhập lại mật khẩu"
                                            formControlName="password" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Mật khẩu không được để trống</div>
                                            <div *ngIf="f.password.errors.minlength">Mật khẩu không được nhỏ hơn 6 ký tự
                                            </div>
                                            <div *ngIf="f.password.errors.password">Mật khẩu không đúng</div>
                                        </div>
                                    </div>

                                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                                   
                                    <div class="row" style="float: right;">
                                        <div class="col-6" style="margin: auto; display: block;">
                                            <button id="Send" [disabled]="loading" class="btn btn-primary"
                                                style="margin: auto; display: block;">
                                                <span *ngIf="loading"
                                                    class="spinner-border spinner-border-sm mr-1"></span>
                                                Gửi
                                            </button>
                                        </div>
                                        <div class="col-6" style="margin: auto; display: block;">
                                            <button class="btn btn-primary" style="margin: auto; display: block;"
                                                (click)="goBack()">
                                                Hủy
                                            </button>
                                        </div>
                                    </div>
                                </form>
                    
                            </div>
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>