.custom{
    width: 80%;
  }
.inputborder input{
    border: none;
}
ng2-smart-table  table thead tr th {
  border: 1px solid darkgray;
  font-size: .875em;
  margin: 0;
  padding: .5em 1em;
}
.table-bordered {
  border: 0px solid #c8ced3;
}
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
