<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="form-group ">
          <div class="row">
            <div class="col-md-6">
              <span class="fa-passwd-reset fa-stack">
                <i class="fa fa-cog fa-stack-2x"></i>
                <i class="fa fa-user-o fa-stack-1x"></i>
              </span>
              <strong>Quản lý tài khoản người dùng</strong>
            </div>
            <div class="col-md-6" style="text-align: end; padding: 0 3% 0 25%;">
              <div class="form-group has-search" style="margin-bottom: -13px !important; margin-top: 6px;" tabindex="1">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" #searchByKeyWordInput
                  (keyup.enter)="searchByKeyWord($event.target.value);" placeholder="Tìm kiếm">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="form-group" style="max-width: 100%;
      max-height: 50%;border:1px solid #80808069;border-radius: 3px; margin-bottom: 1%; padding-top: 1%;">
          <div class="col-md-12">
            <div class="row" style="padding: 2% 15px;">
              <!-- dropdown Đối tượng -->
              <div class="col-md-4" style="padding: 1% 15px;">
                <div class="col-md-3 " style="float: left; padding: 2% 0 0 0">
                  <label for="">Đối tượng</label>
                </div>
                <div class="col-md-9" style="float: right;padding: 0;">

                  <!-- đổi [settings] lên [data] -->
                  <ng-multiselect-dropdown #selectOjectSearch tabindex="2" 
                  [placeholder]="'--- Danh sách đối tượng ---'"
                  [(ngModel)]="selectedDoiTuong"
                  [settings]="dropdownSettings"
                  [data]="dropdownListDoiTuong"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  [ngModelOptions]="{standalone: true}" 
                  >
                  </ng-multiselect-dropdown>                 
                </div>
              </div>
              <!-- dropdown Đối tượng -->
              <!-- dropdown Nhóm -->  
              <div class="col-md-4" style="padding: 1% 15px;">
                <div class="col-md-2 " style="float: left; padding: 2% 0 0 0">
                  <label for="">Nhóm</label>
                </div>
                <div class="col-md-10" style="float: left;padding: 0;">
                  <ng-multiselect-dropdown #selectGroupSearch tabindex="3" 
                  [placeholder]="'--- Danh sách nhóm ---'"
                  [data]="dropdownGroupList" 
                  [(ngModel)]="selectedGroup" 
                  [settings]="dropdownGroupSearchSettings" 
                  (onSelect)="onItemSelectedGroup($event)"
                  (onSelectAll)="onSelectAll($event)" 
                  [ngModelOptions]="{standalone: true}"
                  (onDeSelect)="OnItemDeSelect($event)"
                  (onDeSelectAll)="onItemDeSelectAll($event)"
                 >
                  [formControlName]="groupSearch"
                    >
                  </ng-multiselect-dropdown>
                  <!-- <p *ngIf="requiredGroupSearchField == false" style="color: red;">
                      Vui lòng chọn dữ liệu Nhóm!
                    </p> -->
                </div>
              </div>
              <!-- dropdown Nhóm -->
              <!-- Hoạt Động -->
              <div class="col-md-2" style="max-width: 100%; padding: 1% 15px;">
                <div class="form-check" style="float: right; padding: 2% 0 0 0;" tabindex="4">
                  <label class="container">
                    <input type="checkbox" checked="checked" formControlName="statusActive">
                    <span class="checkmark"></span>Hoạt động
                  </label>
                </div>
              </div>
              <!-- Hoạt Động -->
              <!-- <div class="col-md-3" style="max-width: 24%;">
                <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
                  style="float: right;" autocomplete="off" (click)="resetUserAccountForm()">

                  <i class="fa fa-refresh" aria-hidden="true"></i> Khởi tạo lại
                </button>
            </div> -->
              <!-- Lọc dữ liệu -->
              <div class="col-md-2" style="max-width: 100%; padding: 1% 15px;">
                <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
                  style="float: right;" autocomplete="off" (click)="searchByInput()" tabindex="5">

                  <i class="fa fa-filter" aria-hidden="true"></i> Lọc dữ liệu
                </button>
              </div>
              <!-- Lọc dữ liệu -->
            </div>
          </div>
          <hr style="margin-top: 1%;">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-md-12">
              <div class="row" >
                <!-- Hiển thị -->
                <div class="col-md-6"style="padding: 1% 15px">  
                  <div class="row">
                    <div class="col-md-2" style="max-width: 200%; padding: 2% 0 0 15px;">
                      <span>Hiển thị</span>
                    </div>
                    <div class="col-md-3" style="margin-right: -50px !important; ">
                      <select class="form-control" (change)="perPageSelected($event.target.value)" tabindex="6">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                    </div>
                  </div>     
                </div>
                <!-- Hiển thị -->
                <!-- button thêm -->
                <div class="col-md-6"style="padding: 1% 15px">
                  <button class="btn btn-success" type="button" data-toggle="modal" data-target="#addUserAccountModal"
                    (click)="resetUserAccountForm()" style="float: right;margin-bottom: 10px;" tabindex="7">
                    <i class="fa fa-plus" aria-hidden="true"></i> Thêm mới
                  </button>
                </div>
                <!-- button thêm -->
              </div>
            </div>
            <!-- Table -->
            <div class="col-lg-12 col-md-12 col-sm-12" style="padding:1% 0 0 0;">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <table class="table table-responsive-sm table-bordered table-striped table-sm " *ngIf="userAccountData"
                  style="text-align: center; ">
                  <thead>
                    <tr>
                      <th style="width: 5%">STT</th>
                      <th style="width: 10%">Mã</th>
                      <th style="width: 15%">Tên đăng nhập</th>
                      <th style="width: 20%">Họ tên</th>
                      <th style="width: 10%">Email</th>
                      <th style="width: 10%">Nhóm </th>
                      <th style="width: 10%">Trạng thái</th>
                      <th style="width: 20%">Hoạt động</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="userAccountData">
                    <tr
                      *ngFor="let item of userAccountData | paginate: { itemsPerPage: countPage, currentPage: p, totalItems: totalItems }; let i = index">
                      <td style="vertical-align: inherit;"> {{ ( p - 1 ) * countPage + i + 1 }} </td>
                      <td style="vertical-align: inherit;">{{ item.code }}</td>
                      <td style="vertical-align: inherit;">{{ item.username }}</td>
                      <td style="vertical-align: inherit;">{{ item.fullname }}</td>
                      <td style="vertical-align: inherit;">{{ item.email }}</td>
                      <td style="vertical-align: inherit;">{{ item.group_name }}</td>
                      <td style="vertical-align: middle;">
                        <ng-template [ngIf]="item.status == 0" [ngIfElse]="notEqual">
                          <span class="badge badge-danger">Không hoạt động</span>
                        </ng-template>
                        <ng-template #notEqual>
                          <span class="badge badge-success">Đang hoạt động</span>
                        </ng-template>
                      </td>
                      <td>
                        <div class="row" >
                          <div class="col-md-6"style="padding: 3% 15px;">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                              data-target="#editUserAccountModal" (click)="getByIdUserAccount(item.id)">
                              Sửa
                            </button>
                          </div>
                          <div class="col-md-6"style="padding: 3% 15px;">
                            <button type="button" class="btn btn-danger" (click)="deleteUserAccount(item.id)">
                              Xóa
                            </button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="checkUserAccountData === false">
                    <tr>
                      <td colspan="8"> Dữ liệu không tồn tại
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="text-right" *ngIf="userAccountData">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                      <div class="col-md-6">
                        <div
                          *ngFor="let item of userAccountData | paginate: { itemsPerPage: countPage, currentPage: p, totalItems: totalItems }; index as i ;last as isLast">
                          <p *ngIf="isLast">Hiển thị <span style="font-weight: bold;">{{ (p - 1) * countPage + 1 }} -
                              {{(p-1)*countPage+i+1}}/{{userAccountData.length}}</span> bản ghi</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Table -->
            <!-- Thêm mới -->
            <div class="modal fade" id="addUserAccountModal" data-keyboard="false" role="dialog"
              aria-labelledby="userGroupConfigModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="userGroupConfigModalLabel">Thêm mới</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <label for="user_name">Tên đăng nhập </label>
                        <input class="form-control" type="text" name="text-input" formControlName="user_name"
                          placeholder="Vui lòng nhập tên đăng nhập"
                          [ngClass]="{ 'is-invalid': submitted && f.user_name.errors }">
                        <div *ngIf="submitted && f.user_name.errors" class="invalid-feedback">
                          <div *ngIf="f.user_name.errors.required">Tên đăng nhập không được để trống</div>
                          <div *ngIf="f.user_name.errors.minlength">Tên đăng nhập không được nhỏ hơn 2 ký tự</div>
                          <div *ngIf="f.user_name.errors.maxlength">Tên đăng nhập không được lớn hơn 50 ký tự</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <label for="email">Email </label>
                        <input class="form-control" type="text" name="text-input" formControlName="email"
                          placeholder="Vui lòng nhập Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email không được để trống</div>
                          <div *ngIf="f.email.errors.maxlength">Email không được lớn hơn 100 ký tự</div>
                          <div *ngIf="f.email.errors.email">Email không hợp lệ</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <label for="group_user">Nhóm</label>
                        <ng-multiselect-dropdown #selectClassInsert [placeholder]="'--- Danh sách Nhóm ---'" [data]=""
                          [settings]="ddlInsertGroupSettings" (onSelect)="onGroupSelectInsert($event)"
                          (onDeSelect)="onGroupDeSelectInsert($event)">
                        </ng-multiselect-dropdown>
                        <p *ngIf="reqGroupInsertField == false" style="color: red;font-size: 11px;">
                          Vui lòng chọn dữ liệu Nhóm!
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <label for="password">Mật khẩu </label>
                        <input class="form-control" type="text" name="text-input" formControlName="password"
                          placeholder="Vui lòng nhập Mật khẩu"
                          [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Mật khẩu không được để trống</div>
                          <div *ngIf="f.password.errors.minlength">Mật khẩu không được nhỏ hơn 2 ký tự</div>
                          <div *ngIf="f.password.errors.maxlength">Mật khẩu không được lớn hơn 50 ký tự</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <label for="confirm_password">Xác nhận mật khẩu </label>
                        <input class="form-control" type="text" name="text-input" formControlName="confirm_password"
                          placeholder="Vui lòng nhập xác nhận mật khẩu"
                          [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }">
                        <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                          <div *ngIf="f.confirm_password.errors.required">Xác nhận mật khẩu không được để trống</div>
                          <div *ngIf="f.confirm_password.errors.minlength">Xác nhận mật khẩu không được nhỏ hơn 2 ký tự
                          </div>
                          <div *ngIf="f.confirm_password.errors.maxlength">Xác nhận mật khẩu không được lớn hơn 50 ký tự
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <div class="form-check" style="float: right; padding: 2% 0 0 0;" tabindex="8">
                          <label class="container">
                            <input type="checkbox" checked="checked" formControlName="statusActive">
                            <span class="checkmark"></span>Hoạt động
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                    <button type="button" class="btn btn-primary" (click)="addUserAccount()">Thêm</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Thêm mới -->
            <!-- Cập nhật -->
            <div class="modal fade" id="editUserAccountModal" [ngStyle]="{display: userAccountGetById ? 'block':'none'}"
              role="dialog" aria-labelledby="userAccountModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="userAccountModalLabel">Cập nhật</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <label for="user_name">Tên đăng nhập </label>
                        <input class="form-control" type="text" name="text-input" formControlName="user_name"
                          placeholder="Vui lòng nhập tên đăng nhập"
                          [ngClass]="{ 'is-invalid': submitted && f.user_name.errors }">
                        <div *ngIf="submitted && f.user_name.errors" class="invalid-feedback">
                          <div *ngIf="f.user_name.errors.required">Tên đăng nhập không được để trống</div>
                          <div *ngIf="f.user_name.errors.minlength">Tên đăng nhập không được nhỏ hơn 2 ký tự</div>
                          <div *ngIf="f.user_name.errors.maxlength">Tên đăng nhập không được lớn hơn 50 ký tự</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <label for="email">Email </label>
                        <input class="form-control" type="text" name="text-input" formControlName="email"
                          placeholder="Vui lòng nhập Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email không được để trống</div>
                          <div *ngIf="f.email.errors.maxlength">Email không được lớn hơn 100 ký tự</div>
                          <div *ngIf="f.email.errors.email">Email không hợp lệ</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <div class="form-group">
                          <label for="group_user">Nhóm</label>
                          <ng-multiselect-dropdown #selectClassInsert [placeholder]="'--- Danh sách Nhóm ---'" [data]=""
                            [settings]="ddlInsertGroupSettings" (onSelect)="onGroupSelectInsert($event)"
                            (onDeSelect)="onGroupDeSelectInsert($event)">
                          </ng-multiselect-dropdown>
                          <p *ngIf="reqGroupInsertField == false" style="color: red;font-size: 11px;">
                            Vui lòng chọn dữ liệu Nhóm!
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <label for="password">Mật khẩu </label>
                        <input class="form-control" type="text" name="text-input" formControlName="password"
                          placeholder="Vui lòng nhập Mật khẩu"
                          [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Mật khẩu không được để trống</div>
                          <div *ngIf="f.password.errors.minlength">Mật khẩu không được nhỏ hơn 2 ký tự</div>
                          <div *ngIf="f.password.errors.maxlength">Mật khẩu không được lớn hơn 50 ký tự</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <label for="confirm_password">Xác nhận mật khẩu </label>
                        <input class="form-control" type="text" name="text-input" formControlName="confirm_password"
                          placeholder="Vui lòng nhập xác nhận mật khẩu"
                          [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }">
                        <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                          <div *ngIf="f.confirm_password.errors.required">Xác nhận mật khẩu không được để trống</div>
                          <div *ngIf="f.confirm_password.errors.minlength">Xác nhận mật khẩu không được nhỏ hơn 2 ký tự
                          </div>
                          <div *ngIf="f.confirm_password.errors.maxlength">Xác nhận mật khẩu không được lớn hơn 50 ký tự
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <div class="form-check" style="float: right; padding: 2% 0 0 0;" tabindex="9">
                          <label class="container">
                            <input type="checkbox" checked="checked" formControlName="statusActive">
                            <span class="checkmark"></span>Hoạt động
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                    <button type="button" class="btn btn-primary" (click)="updateUserAccount()">Cập nhật</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Cập nhật -->
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
