<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container" style="width: 46em; height: initial; margin: auto;">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card-group" style="margin-top: 50px;">
                        <div class="card p-4">
                            <div class="card-body">
                                <form [formGroup]="forgotassword" (ngSubmit)="onSubmit()">
                                    <h1 class="text-align" style="text-align: center;font-size: 1em;margin-bottom: 2em;">Quên Mật Khẩu</h1>
                   
                                    <div class="input-group mb-3" style="width: 300px; margin: auto;">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-user"></i></span>
                                        </div>
                                        <input type="text" id="email" placeholder="Email" formControlName="email"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Email không được để trống</div>
                                            <div *ngIf="f.email.errors.email">Email không hợp lệ</div>
                                        </div>
                                    </div>

                                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                   
                                    <div class="row" style="float: right;">
                                        <div class="col-6" style="margin: auto; display: block;">
                                            <button id="Send" [disabled]="loading" class="btn btn-primary"
                                                style="margin: auto; display: block;">
                                                <span *ngIf="loading"
                                                    class="spinner-border spinner-border-sm mr-1"></span>
                                                    
                                                Gửi
                                            </button>
                                        </div>
                                        <div class="col-6" style="margin: auto; display: block;">
                                            <button class="btn btn-primary" style="margin: auto; display: block;"
                                                (click)="goBack()">
                                                Hủy
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            
                            </div>
                        </div>
                  
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>